/*

-- TYPOGRAPHY --

    FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    FONT WEIGHT SYSTEM
        Default : 400


    LINE HEIGHT SYSTEM
        Default : 1

    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;



--COLORS

    Primary : #226666
    Tints : #3d9999 / #66cccc / #99e6e6 / #ccf2f2 / #e9f0f0
    Shades : #004d4d / #003333 / #002626 / #001a1a
    Accents : #ffcc00 / #ffdb4d / #ffe680 / #fff2cc
    Greys : #333333 / #666666 / #999999 / #cccccc / #f2f2f2 / #ffffff




-- SHADOWS



-- BORDER RADIUS


-- WHITESPACES
    
    SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f0f0;
    padding: 0 4.8rem;
    height: 9.6rem;
}

.logo{
    height: 6.2rem;
}

.navList{
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style: none;
}

.navLink:link, .navLink:visited{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
    font-weight: 700;
    transition: all 0.3s;
}


.navLink.nav-cta:link, .navLink.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 15rem;
    background-color: #e9f0f0;
    color: #226666;
    transition: all 0.3s;
}

.navLink.nav-cta:hover, .navLink.nav-cta:active{
    background-color: #7aa3a3;
    color: #fff;
}

.navLink:hover, .navLink:active{
    color: #66cccc;
}



.HeroSection{
    background-color: #e9f0f0;
    padding: 4.8rem 0 8rem 0;
}

.Hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
}

.HeroMainText{
    font-family: 'Poppins', sans-serif;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1.05;
    color: #333;
    letter-spacing: -1px;
    margin-bottom: 3.2rem;
}

.HeroSubText{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}


.button:link, .button:visited{
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    border-radius: 15rem;
    transition: all 0.5s;
}

.button--main:link, .button--main:visited{
    background-color: #226666;
    color: #fff;
}

.margin--right{
    margin-right: 2rem !important;
}

.button--main:hover, .button--main:active{
    background-color: #184747;
}

.button--secondary:link, .button--secondary:visited{
    background-color: #e9f0f0;
    color: #226666;
}

.button--secondary:hover, .button--secondary:active{
    background-color: #7aa3a3;
    color: #fff;
}

.HeroImage{
    width: 100%;
}


.ShowFoods{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.FoodsImg{
    display: flex;
}

.FoodsImg img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #e9f0f0;
}

.FoodsImg img:last-child{
    margin: 0;
}

.recipetext{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.recipetext span{
    font-family: 'Didact Gothic', sans-serif;
    color: #1D5454;
    font-weight: 700;
}


/* HOW IT WORKS SECTION */

.HowSection{
    padding: 9.6rem 0;
}


.image-step{
    width: 35%;
}


.step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
}



.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
}


.grid--center--v{
    align-items: center;
}

.SecondaryHeading{
    font-size: 4.4rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}


.SubHeading{
    display: block;
    font-size: 2rem;
    font-family: 'Didact Gothic', sans-serif;
    color: #66cccc;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}


.step-number{
    font-size: 9.6rem;
    font-weight: 700;
    color: #bdd1d1;
    margin-bottom: 1.2rem;
}

.TersiaryHeading{
    font-size: 3rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}


.step-description{
    font-size: 1.8rem;
    line-height: 1.6;
}


.FeaturedSection{
    padding: 4.8rem 0 3.2rem 0;
}

.logos{
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.featured-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #999;
}



.GallerySection{
    background-color: #e9f0f0;
    display: grid;
    grid-template-columns: 40fr 60fr;
    align-items: center;
}


.testimonials-container{
    padding: 8rem 0 8rem 4.8rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.6rem;
}

.testimonial-name{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #454545;
    margin-bottom: 0.8rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 3.6rem;
}


.gallery-item{
    overflow: hidden;
    border-radius: 0.8rem;
}

.gallery-img{
    display: block;
    width: 100%;
    transition: all 0.5s;
}

.gallery-img:hover{
    transform: scale(1.1);
}


.FeatureSection{
    padding: 9.6rem 0 12.8rem 0;
}

.feature img{
    padding: 1rem;
    size: 3rem;
}

.feature-icon{
    height: 4.5rem;
    width: 4.5rem;
    background-color: #d3e0e0;
    margin-bottom: 3rem;
    border-radius: 50%;
}

.feature-title{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3.6rem;
    color: #333;
}

.feature-text{
    font-size: 1.8rem;
    line-height: 1.8;
}


.grid--footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #ddd;
}


.logo-column{
    display: flex;
    flex-direction: column;
}

.footer-logo{
    display: block;
    margin-bottom: 2rem;
}

.contacts{
    font-style: normal;
    font-style: 1.6rem;
    line-height: 1.6;
}

.address{
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.social-links{
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon{
    height: 2.4rem;
    width: 2.4rem;
}

.copyright{
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}


.footer-link:link, .footer-link:visited{
    text-decoration: none;
    color: #767676;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.footer-link:hover, .footer-link:active{
    color: #333;
}